@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}


#form-mockapi{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}

.lista_pokemons{
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(63, 61, 61);
    height: auto;
    padding: 1rem;
}

.lista_pokemons .pokemon:hover{
    scale: 1.1;
    border: 1.1px solid rgb(73, 133, 244);
    background-color: black ;
    color: #ffffff;

}

.lista_pokemons .pokemon{
    font-size: 2rem;
    text-align: center;
    border-radius: 2.3rem;
    background-color: transparent;
    max-width: 20rem;
    margin: 1rem;
    padding: 1rem;
    transition: 0.5s all ease;
}

.pokemon img{
    width: 100%;
    filter: drop-shadow(0 10px 15px #ffffff);

}

.pokemon img:hover{
    filter: drop-shadow(0 10px 15px rgba(0,0,0));
}

.buttons{
    font-size: 2.8rem;
    color:#ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    width: 100%;
    background-color: rgb(63, 61, 61);
}


